<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1" />
    </startup>
	<appSettings>
		<add key="hashedAdminPassword" value="81dc9bdb52d04dc20036dbd8313ed055"/>
		<add key="hashedUnlockPassword" value="d2bba38e284db82f6f429cf92a4c7327"/>
	</appSettings>
</configuration>